In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import pandas as pd

In [2]:
# Install chrome driver
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Run browser from installed location
# executable_path = {"executable_path": "/Users/johnforbis/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriverr"}
# browser = Browser("chrome", **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/88.0.4324.96/chromedriver_mac64.zip

[WDM] - Driver has been saved in cache [/Users/johnforbis/.wdm/drivers/chromedriver/mac64/88.0.4324.96]

## NASA Mars News

In [84]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [85]:
html = browser.html
soup = bs(html, 'html.parser')

In [86]:
# Finding one item in the list
list_item = soup.select_one("ul.item_list li.slide")
list_item

<li class="slide"><div class="image_and_description_container"><a href="/news/8846/could-the-surface-of-phobos-reveal-secrets-of-the-martian-past/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">The Martian moon Phobos orbits through a stream of charged atoms and molecules that flow off the Red Planet’s atmosphere, new research shows.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="Phobos moon" src="/system/news_items/list_view_images/8846_Phobos-Mars-Moon-320x240.jpg"/></div><div class="bottom_gradient"><div><h3>Could the Surface of Phobos Reveal Secrets of the Martian Past?</h3></div></div></a><div class="list_text"><div class="list_date">February  1, 2021</div><div class="content_title"><a href="/news/8846/could-the-surface-of-phobos-reveal-secrets-of-the-martian-past/" target="_self">Could the Surface of Phobos Reveal Secrets of the Martian Past?</a></div><div class="article_teaser_body">The Martian moon Phobos orbits through a stream of charged atoms and molecules that flow off the Red Planet’s atmosphere, new research shows.</div></div></div></li>

In [88]:
title = list_item.find('div', class_="content_title").text.strip() 
title

'Could the Surface of Phobos Reveal Secrets of the Martian Past?'

In [96]:
article = list_item.find('div', class_="article_teaser_body").text.strip()
article

'The Martian moon Phobos orbits through a stream of charged atoms and molecules that flow off the Red Planet’s atmosphere, new research shows.'

In [97]:
element2 = soup.find('div', class_="image_and_description_container")
# print(element2.prettify())
link = element2.a["href"]
short_url = "https://mars.nasa.gov"
link = short_url + link
link

'https://mars.nasa.gov/news/8846/could-the-surface-of-phobos-reveal-secrets-of-the-martian-past/'

In [98]:
print("The most recent article from NASA regarding Mars news:")
print("- - - - - - - - - -")
print(f"Title: {title}")
print("- - - - - - - - - -")
print(f"Article Teaser: {article}")
print("- - - - - - - - - -")
print(f"Click here to visit: {link}")

The most recent article from NASA regarding Mars news:
- - - - - - - - - -
Title: Could the Surface of Phobos Reveal Secrets of the Martian Past?
- - - - - - - - - -
Article Teaser: The Martian moon Phobos orbits through a stream of charged atoms and molecules that flow off the Red Planet’s atmosphere, new research shows.
- - - - - - - - - -
Click here to visit: https://mars.nasa.gov/news/8846/could-the-surface-of-phobos-reveal-secrets-of-the-martian-past/

## Mars Facts

In [133]:
# Visit the Mars Facts Site Using Pandas to Read
mars_facts = pd.read_html("https://space-facts.com/mars")[0]
mars_table = mars_facts
mars_facts_df = pd.DataFrame(mars_table)
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [134]:
mars_facts_df = mars_facts_df.rename(columns={0:"Metric", 1:"Value"})
mars_facts_df

                 Metric                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [135]:
mars_facts_df = mars_facts_df.set_index("Metric")
mars_facts_df

                                              Value
Metric
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers